/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #eb0b0b54;
  color: #333;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 8%;
}

.logo {
  font-size: 28px;
  font-weight: 700;
}
.logo span {
  color: #6c63ff;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}
.menu a {
  text-decoration: none;
  color: #d12424;
  font-weight: 500;
  transition: 0.3s;
}
.menu a:hover {
  color: #6c63ff;
}

/* HERO */
.hero {
  background: linear-gradient(to bottom, #e5e5e5, #cfcfcf);
  height: 29h;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 10%;
}

.hero-text h2 {
  font-size: 48px;
  font-weight: 700;
}
.hero-text p {
  margin-top: 15px;
  font-size: 20px;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 14px 32px;
  background: #6c63ff;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}
.btn:hover {
  background: #4c48cc;
}

/* SEÇÕES */
section {
  padding: 60px 8%;
  text-align: center;
}

/* PORTFÓLIO */
.grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}
.grid img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 4px 20px #00000020;
  transition: 0.3s;
}
.grid img:hover {
  transform: scale(1.03);
}

/* FORMULÁRIO */
form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 14px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  padding: 14px;
  border: none;
  background: #6c63ff;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background: #524ddc;
}

/* FOOTER */
footer {
  padding: 25px;
  text-align: center;
  background: #e0e0e0;
  margin-top: 40px;
}


/* --- ÁREA ADMIN --- */
.admin-body {
  padding: 40px;
  background: #f1f1f1;
}

.admin-title {
  text-align: center;
  margin-bottom: 30px;
}

.admin-section {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #00000015;
}

.admin-section h2 {
  margin-bottom: 15px;
  color: #6c63ff;
}

.admin-section label {
  display: block;
  margin-top: 10px;
  font-weight: 600;
}

.admin-section input,
.admin-section textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.btn-save {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background: #6c63ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.btn-save:hover {
  background: #554fd6;
}

.btn-admin {
  background: #333;
  color: #fff;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  transition: .2s;
}

.btn-admin:hover {
  background: #000;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.social-btn {
  padding: 14px 22px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
  box-shadow: 0 4px 15px #00000020;
}

.social-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px #00000030;
}

/* Cores */
.insta { background: linear-gradient(45deg, #ff7a52, #e1306c); }
.face  { background: #1877f2; }
.whats { background: #25d366; }
